
body {
padding: 0;
margin: 0;
font-family: sans-serif;
}

main {
padding: 1rem;
}

.firstheader {
width: 100%;
height: 3.5rem;
background-color: #dbc441;
padding: 0 1.5rem;
}

.nav {
height: 100%;
display: flex;
align-items: center;
}

.ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}

.li-tag {
margin: 0 1rem;
padding: 0;
}

.li-tag a {
text-decoration: none;
color: black;
}

.li-tag a:hover,
.li-tag a:active,
.li-tag a.active {
color: #3e00a1;
}
